@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4 class="display-4">Test1: @ViewBag.Test1UserName | @ViewBag.Test1Password</h4>
    <h4 class="display-4">Test3: @ViewBag.Test3Id | @ViewBag.Test3ClientSecret</h4>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
