<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="protectedKeys" type="CrowKoko.ProtectedKeys.ProtectedKeySectionConfigurationHandler, CrowKoko.Net47.ProtectedKeys" />
	</configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<protectedKeys>
		<keys provider="__wharazimTEST" type="CrowKoko.ProtectedKeys.NetInternalReader, CrowKoko.Net47.ProtectedKeys">
      <key name="test2" id="B7BAF6A2-27F8-47D6-A766-343E333F7F90" />
      <key name="test1" id="8D93AC32-619D-4272-A106-1B3690F8B2F5" />
    </keys>
    <keys provider="data source=(LocalDb)\MSSqlLocalDb;Initial Catalog=OAuth;Integrated Security=true" type="CrowKoko.ProtectedKeys.OAuthReader, CrowKoko.Net47.ProtectedKeys">
      <key name="test3" id="351D5410-78A2-4A84-B092-FBA71922A00C" />
      <key name="test4" id="62D3C48D-DF1B-453A-A61D-4EBDD2A6C569" />
    </keys>
  </protectedKeys>
</configuration>